<nav>
  <h1 class="title">Shadez</h1>
  <a href="/home">
    <h1>Shadez for Dayz!</h1>
  </a>
  <h3>Kids Stylish Fashion Shades</h3>
  <a href="/">
    <h3>Home</h3>
  </a>
  <a href="/new">
    <h3 class="Create">Create Your own Shadez!</h3>
  </a>
</nav>
