<nav>
  <a href="/home">
    <h1>Shadez for Dayz!</h1>
  </a>
  <a href="/index">
    <h3>Sunshades Collection</h3>
  </a>
  <a href="/new">
    <h3 class="Create">Create Your own Shadez!</h3>
  </a>
</nav>
