<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.98.0" />
    <title>Shadez for Dayz</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/heroes/"
    />

    <link
      href="/docs/5.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <header class="head">
      <nav class="nav">
        <a href="/users/sessions/new">Log In</a>
        /<a href="/users/new">Sign Up</a>
      </nav>

      <a href="/index">
        <h1 class="title">Shadez for Dayz</h1>
      </a>
    </header>
    <style>
      /* .bd-placeholder-img {
        font-size: 8rem;
        text-anchor: start;
        -webkit-user-select: none;
        color: yellow;
        -moz-user-select: none;
        user-select: none;
      } */

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      /* .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 9rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: right;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      } */
    </style>

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet" />
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>


  </head>
  <body>
    <div class="container-welcome">
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="welcome">Welcome</h1>
        <div class="welcome-text">
          <p class="lead mb-4">
            The only place for Stylish Fashion Shades for kids. Get ready for
            summer with our unique and vibrant collection of customizable
            shades. Your children will surely love our variety of colorful
            options with a personalized touch to fit their personality.
          </p>
          <div class="button-div">
            <form action="/<%=shades.id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />
            </form>
            <a href="/<%=shades.id%>/edit">
              <button>Customize</button>
            </a>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
              Shop now!
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-add-name">
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h2 class="display-4 fw-bold">Customize your Order !</h2>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="img1">
            <img
              class="add-name"
              src="https://i.etsystatic.com/19319997/r/il/fe2280/3753213770/il_1588xN.3753213770_tapm.jpg"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="300"
              height="300"
              loading="lazy"
            />
            <p>
              Customize your shadez by adding your name! Show everyone your
              summer ready accessories.
            </p>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="<%=shades%>"></a>
            <a href="/<%=shades.id%>/edit">
                <button type="button" class="customize">Customize</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-create">
      <div class="px-4 pt-5 my-5 text-center ">
        <a href="/new">
            <h2 class="display-4 fw-bold">Create Your own Shadez!</h2>
          </a>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="img2">
            <img
              class="create-shades"
              src="https://i.etsystatic.com/32037986/r/il/1c6aca/3501460923/il_1588xN.3501460923_pres.jpg"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="300"
              height="300"
              loading="lazy"
            />
            <p class="lead mb-4">
              Want to be different? Create your pair of shades from scratch.
              Just choose a style, color and personalized name.
            </p>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="create"">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-signin">
        <div>
        <h2 class="display-4 fw-bold">Create an account</h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Wanna stay in the loop? Create your account now to receive exclusive
            deals and alerts of new merchandise
          </p>
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="signup" type="submit">Sign up</button>
            <!-- <hr class="my-4"> -->
            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
      </div>
    </div>  
                   