<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>

    <div class="container-welcome">
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="welcome">Welcome</h1>
        <div class="welcome-text">
          <p class="lead mb-4">
            The only place for Stylish Fashion Shades for kids. Get ready for
            summer with our unique and vibrant collection of customizable
            shades. Your children will surely love our variety of colorful
            options with a personalized touch to fit their personality.
          </p>
        </div>
      </div>
    </div>
    <div class="container-add-name">
        <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h2 class="display-4 fw-bold">Customize your Order !</h2>
          <div class="overflow-hidden" style="max-height: 30vh">
            <div class="img1">
              <img
                class="add-name"
                src="https://i.etsystatic.com/19319997/r/il/fe2280/3753213770/il_1588xN.3753213770_tapm.jpg"
                class="img-fluid border rounded-3 shadow-lg mb-4"
                alt="Example image"
                width="300"
                height="300"
                loading="lazy"
              />
              <p>
                Customize your shades by adding your name! Show everyone your summer ready accessories.
              </p>
            </div>
            <a href="/<%=shades.id%>/edit">
              <button class="add=name">Customize</button>
          </div>
        </div>
      </div>
  </body>
</html>
