<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
   

    <div class="container-add-name">
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h2 class="display-4 fw-bold">Customize your Order !</h2>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="img1">
            <img
              class="add-name"
              src="https://i.etsystatic.com/19319997/r/il/fe2280/3753213770/il_1588xN.3753213770_tapm.jpg"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="300"
              height="300"
              loading="lazy"
            />
            <p>
              Customize your shadez by adding your name! Show everyone your
              summer ready accessories.
            </p>
          </div>
          <div class="button-div">
            <form action="/shades/index<%=shades.id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />
            </form>
            <a href="/shades/<%=shades.id%>/edit">
              <button>Customize</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-create">
      <div class="px-4 pt-5 my-5 text-center ">
        <a href="/new">
            <h2 class="display-4 fw-bold">Create Your own Shadez!</h2>
          </a>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="img2">
            <img
              class="create-shades"
              src="https://i.etsystatic.com/32037986/r/il/1c6aca/3501460923/il_1588xN.3501460923_pres.jpg"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="300"
              height="300"
              loading="lazy"
            />
            <p class="lead mb-4">
              Want to be different? Create your pair of shades from scratch.
              Just choose a style, color and personalized name.
            </p>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="create"">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-signin">
        <div>
        <h2 class="display-4 fw-bold">Create an account</h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Wanna stay in the loop? Create your account now to receive exclusive
            deals and alerts of new merchandise
          </p>
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="signup" type="submit">Sign up</button>
            <!-- <hr class="my-4"> -->
            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
      </div>
    </div>  
                   