<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>

    <div class="container-welcome">
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="welcome">Welcome</h1>
        <div class="welcome-text">
          <p class="lead mb-4">
            The only place for Stylish Fashion Shades for kids. Get ready for
            summer with our unique and vibrant collection of customizable
            shades. Your children will surely love our variety of colorful
            options with a personalized touch to fit their personality.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
