<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>

    <div class="container-welcome">
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="welcome">Welcome</h1>
        <div class="welcome-text">
          <p class="lead mb-4">
            The only place for Stylish Fashion Shades for kids. Get ready for
            summer with our unique and vibrant collection of customizable
            shades. Your children will surely love our variety of colorful
            options with a personalized touch to fit their personality.
          </p>
        </div>
      </div>
    </div>
    <div class="container-add-name">
        <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h2 class="display-4 fw-bold">Customize your Order !</h2>
          <div class="overflow-hidden" style="max-height: 30vh">
            <div class="img1">
              <img
                class="add-name"
                src="https://i.etsystatic.com/19319997/r/il/fe2280/3753213770/il_1588xN.3753213770_tapm.jpg"
                class="img-fluid border rounded-3 shadow-lg mb-4"
                alt="Example image"
                width="300"
                height="300"
                loading="lazy"
              />
              <p>
                Customize your shades by adding your name! Show everyone your summer ready accessories.
              </p>
        </div>
      </div>
      <div class="container-create">
        <div class="px-4 pt-5 my-5 text-center ">
              <h2 class="display-4 fw-bold">Create Your own Shadez!</h2>
          <div class="overflow-hidden" style="max-height: 30vh">
            <div class="img2">
              <img
                class="create-shades"
                src="https://i.etsystatic.com/32037986/r/il/1c6aca/3501460923/il_1588xN.3501460923_pres.jpg"
                class="img-fluid border rounded-3 shadow-lg mb-4"
                alt="Example image"
                width="300"
                height="300"
                loading="lazy"
              />
              <p class="lead mb-4">
                Want to be different? Create your pair of shades from scratch.
                Just choose a style, color and personalized name.
              </p>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
              <button type="button" class="create-shades">
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
