<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="new-shadez-div">
      <h1>Create your Own Shades!</h1>
      <form action="/shades" method="POST">
        Name: <input type="text" name="name" /><br />
        Style: <input type="text" name="style" /><br />
        Color: <input type="text" name="color" /><br />
        Lens Color: <input type="text" name="lensColor" /><br />
        Price: <input type="text" name="price" /><br />
        Image: <input type="text" name="image" /><br />
        <div class="create-button">
          <input type="submit" value="Create! " />
        </div>
      </form>
    </div>
  </body>
</html>
