<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="new-shadez-div">
      <h1>Create your Own Shades!</h1>

      <form action="/" method="POST">
        Name: <input type="text" name="name" /><br />
        Style: <input type="text" name="style" /><br />
        <!-- Color: <input type="text" name="color" /><br /> -->
        <label for="color">Color:</label>
        <select name="color" id="pick-color">
          <option value="pink">Pink</option>
          <option value="green">Green</option>
          <option value="cream">Cream</option>
          <option value="glitter pink">Glitter Pink</option>
          <option value="glitter green">Glitter Green</option>
          <option value="silver">Silver</option>
        </select>
        <br /><br />
        <div class="create-button">
          <input type="submit" value="Create! " />
        </div>
      </form>
    </div>
  </body>
</html>
