<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="new-container">
      <h1 class="new-title">Create your Own Shades!</h1>
      <img
        class="show-img2"
        src="https://i.etsystatic.com/32037986/r/il/7c3215/3410874882/il_1588xN.3410874882_1gh1.jpg"
        alt=""
      />
      <form action="/" method="POST">
        Name: <input type="text" name="name" /><br />
        Style: <input type="text" name="style" /><br />
        <label for="style">Style:</label>
        <select name="Style" id="pick-style">
          <option value="round">Round</option>
          <option value="wafer">wafer</option>
          <option value="sunflowers">Sunflowers</option>
          <option value="hearts">hearts</option>
          <option value="unicorn">Unicorn</option>
        </select>
        <br /><br />
        Color: <input type="text" name="color" /><br />
        <label for="color">Color:</label>
        <select name="color" id="pick-color">
          <option value="pink">Pink</option>
          <option value="green">Green</option>
          <option value="cream">Cream</option>
          <option value="glitter pink">Glitter Pink</option>
          <option value="glitter green">Glitter Green</option>
          <option value="silver">Silver</option>
        </select>
        <br /><br />
        <div class="create-button">
          <input class="new" type="submit" value="New Shades! " />
        </div>
      </form>
    </div>
  </body>
</html>
