<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="new-container">
      <h1 class="new-title">Create your Own Shades!</h1>
      <img
        class="show-img2"
        src="https://i.etsystatic.com/25059162/r/il/050bd0/3847703911/il_1588xN.3847703911_tnsc.jpg"
        alt=""
      />
      <form action="/index" method="POST">
        Name: <input type="text" name="name" /><br />
        <!-- Style: <input type="text" name="style" /><br /> -->
        <!-- Color: <input type="text" name="color" /><br /> -->
        <label for="color">Color:</label>
        <select name="color" id="pick-color">
          <option value="pink">Pink</option>
          <option value="green">Green</option>
          <option value="cream">Cream</option>
          <option value="glitter pink">Glitter Pink</option>
          <option value="glitter green">Glitter Green</option>
          <option value="silver">Silver</option>
        </select>
        <br /><br />
        <div class="create-button">
          <input class="new" type="submit" value="Create! " />
        </div>
      </form>
    </div>
  </body>
</html>
