/* GENERAL STYLING */
/* body {
  margin: 0;
  background-color: lightseagreen;
}

/* NAV BAR STYLING */
/* nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: lightcyan;
  border-bottom: 5px solid lightgreen;
  font-family: "Patrick Hand", cursive;
  font-weight: bolder;
} */

/* HOME PAGE STYLING */
/* .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}  */
